{% extends "base.html" %}

{% load cache %}

{% block title %}
    Python Shell
{% endblock %}

{% block content %}
    <h1>
        Python Interpreter
    </h1>
    
   
	
	<iframe height="600px" width="100%" src="https://repl.it/@ananth2578/SereneRoastedInstitute?lite=true" scrolling="yes" frameborder="no" allowtransparency="true" allowfullscreen="true" sandbox="allow-forms allow-pointer-lock allow-popups allow-same-origin allow-scripts allow-modals"></iframe>
	<!-- <a href="https://tio.run/##K6gsycjPM/4PBAA" title="Python 3 – Try It Online">Try it online!</a> -->
{% endblock %}

