{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>{% block title %}SIMPLE E-LEARN{% endblock %}</title>
    <link href="{% static "css/base.css" %}" rel="stylesheet">
   
</head>
<body>
    
    <div id="header">
        <a href="/" class="logo">Simple e-Learn</a>
        <ul class="menu">
            {% if request.user.is_authenticated %}
                <li><a href="{% url "logout" %}">Sign out</a></li>
            {% else %}
                <li><a href="{% url "login" %}">Sign in</a></li>
            {% endif %}
        </ul>
    </div>
    <div id="menu_link">
        {% if request.user.is_authenticated %}
        {% if request.user.is_staff %}
                <a href="{% url 'manage_course_list' %}">Manage My Courses</a>
        {% endif %}
                <a href="{% url 'student_course_list' %}">My Enrolled Courses</a> 
                <a href="{% url 'python_shell' %}">Python Online Shell</a>
                <a href="{% url 'python_interpreter' %}">Python Online Interpreter</a>
                <a href="{% url 'nodejs_shell' %}">NodeJS Online Shell</a>
        <div id="welcome_user">
            <li>Welcome {{request.user.username}}</li>
        </div>
        
        {% endif %}
    </div>
    <div id="content">
        {% block content %}
        {% endblock %}
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
    <script>
        $(document).ready(function() {
            {% block domready %}
            {% endblock %}
        });
    </script>
</body>
</html>
