{% extends "base.html" %}

{% load cache %}

{% block title %}
    NodeJS Shell
{% endblock %}

{% block content %}
    <h1>
        NodeJS Shell
    </h1>
    
    
	<iframe height="600px" width="100%" src="https://repl.it/@ananth2578/BuoyantElectronicProjector?lite=true" scrolling="yes" frameborder="no" allowtransparency="true" allowfullscreen="true" sandbox="allow-forms allow-pointer-lock allow-popups allow-same-origin allow-scripts allow-modals"></iframe>
	<!-- <iframe style="width: 100%; height: 550px; border: none;" name="embedded_python_anywhere" src="http://tpcg.io/d3GOaJ" ></iframe> -->
{% endblock %}

